<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Recommendation Page</title>
</head>

<body>
  <div>
    <h1>Let's find you some songs!</h1>
    <form action="/index" method="GET">
      <button>Home Page</button>
    </form>
  </div>
</body>

<body>

  <h1>How would you like to get a song?</h1>
  <h3>By Decade</h3>
  <form id="year" method="POST" action="/getSongByDecade">
    <label for="year">Year</label>
    <input type="text" name="year" id="year" placeholder="year" required>
    <button>Request</button>
  </form>
  <form id="genre" method="POST" action="/getSongByDecade">
    <label for="genre">Genre</label>
    <input type="genre" name="genre" id="genre" placeholder="genre" required>
    <button>Request</button>
  </form>

</body>

</html>