<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Recommendation Page</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div>
    <h1 class="songPage-header">Let's find you some songs!</h1>
    <form action="/index" method="GET">
      <button class="btn">Return To Homepage</button>
    </form>
  </div>
</body>

<body>
  <h2 class="header2">Play recommended song</label>
</body>

<body>
  <div>
    <button id="button" onclick="toggleSong()" class="btn2">Play Song</button>
  </div>
</body>

<body>

  <audio id="audio" src="<%= playableSong.preview %>" preload="audio"></audio>

  <div>
    <h1 class="songPage-header">How would you like to get a song?</h1>
    <h3 class="label-Genera">By Decade</h3>
    <label class="label-Genera"> Recommended song: <%= songRecommendationByYear %></label>
    <form id="year" method="POST" action="/getSongByDecade">
      <input type="text" name="year" id="year" placeholder="Enter Year Here" required>
      <button>Request</button>
    </form>

    <h3 class="label-Genera">By Genre</h3>
    <label class="label-Genera"> Recommended song: <%= songRecommendationBySongGenre %></label>
    <form id="genre" method="POST" action="/getSongByGenre">
      <input type="genre" name="genre" id="genre" placeholder="Enter Genre Here" required>
      <button class="btn-genera">Request</button>
    </form>

    <h3 class="label-Genera">By your favorite genre</h3>
    <label> Recommended song: <%= songRecommendationByFav %></label>
    <form id="fave" method="POST" action="/getSongByFave">
      <button class="btn2">Request</button>
    </form>
  </div>
</body>


<script>
</script>

</html>