<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Recommendation Page</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div>
    <h1 class="songPage-header">Let's find you some songs!</h1>
    <form action="/index" method="GET">
      <!-- redirects to the home page -->
      <button class="btn-recommend">Return To Home Page</button>
    </form>
  </div>
</body>

<body>
  <h2 class="song-header">Play recommended song</label>
</body>

<body>
  <div>
    <button id="button" onclick="toggleSong()" class="btn-recommend2">Play Song</button>
    <!-- calls the function to play the song on the click -->
  </div>
</body>

<body>

  <audio id="audio" src="<%= playableSong.preview %>" preload="audio"></audio>

  <div>
    <h1 class="song-header">How would you like to get a song?</h1>
    <p class="label-Genera">Search by Decade: <%= songRecommendationByYear %></p>
    <form id="year" method="POST" action="/getSongByDecade">
      <!-- calls the function to get a random song by a specific decade -->
      <input type="text" name="year" id="year" placeholder="Enter Year Here" required>
      <button class="btn-recommend2">Request</button>
    </form>

    <p class="label-Genera">Search by Genre: <%= songRecommendationBySongGenre %>
      <form id="genre" method="POST" action="/getSongByGenre">
        <!-- calls the function to get the specific song by genre -->
        <input type="genre" name="genre" id="genre" placeholder="Enter Genre Here" required>
        <button class="btn-recommend2">Request</button>
      </form>
    </p>

    <p class="label-Genera">Suggested Song from your Favorite Genre: <%= songRecommendationByFav %>
      <form id="fave" method="POST" action="/getSongByFave">
        <!-- calls the function to get a song based off of your favorite genre -->
        <button class="btn-recommend2">Request</button>
      </form>
    </p>
  </div>
</body>


<script>
</script>

</html>
