<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Recommendation Page</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div>
    <h1>Let's find you some songs!</h1>
    <form action="/index" method="GET">
      <button>Home Page</button>
    </form>
  </div>
</body>

<body>
  <label>Play recommended song</label>
</body>

<body>
  <div>
    <button id="button" onclick="toggleSong()">Play Song</button>
  </div>
</body>

<body>

  <audio id="audio" src="<%= playableSong.preview %>" preload="audio"></audio>

  <div>
    <h1>How would you like to get a song?</h1>
    <h3>By Decade</h3>
    <form id="year" method="POST" action="/getSongByDecade">
      <label for="year">Year</label>
      <input type="text" name="year" id="year" placeholder="year" required>
      <button>Request</button>
      <label> Recommended song: <%= songRecommendationByYear %></label>

    </form>
    <h3>By Genre</h3>
    <form id="genre" method="POST" action="/getSongByGenre">
      <label for="genre">Genre</label>
      <input type="genre" name="genre" id="genre" placeholder="genre" required>
      <button>Request</button>
      <label> Recommended song: <%= songRecommendationBySongGenre %> </label>
    </form>
    <h3>By your favorite genre</h3>
    <form id="fave" method="POST" action="/getSongByFave">
      <button>Request</button>
      <label> Recommended song: <%= songRecommendationByFav %></label>
  </div>
</body>


<script type="text/javascript">
  function toggleSong() {
    let audio = document.getElementById('audio');
    let button = document.getElementById('button');
    if (!audio) { button.innerText = 'Sorry no Preview Available'; }
    else if (audio.paused) {
      audio.currentTime = 0;
      audio.volume = 0.1;
      setTimeout(() => { audio.play(); }, 500);
      button.innerText = 'Pause Song';
    } else {
      audio.pause();
      audio.currentTime = 0;
      button.innerText = 'Play Song';
    }
  }

</script>

</html>