<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Page | AudioAdvisor</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div>
    <label class="results-page">You got <%=questionsRight%>/10 questions correct. You <%= gameStatus%>!</label>
    <!-- shows how many songs were correct out of 10 -->
  </div>
  <div>
    <label class="results">Here are all the songs from this game: <%= questionsArray %></label>
    <!-- displays all the correct songs that were in the game -->
  </div>
  <div>
    <form action="/api/getDatabaseSongs" method="GET">
      <button class="btn">Play again?</button>
    </form>
  </div>
  <div>
    <form action="/index" method="GET">
      <button class="btn">Home Page</button>
    </form>
  </div>
  <div>
    <form action="/api/refreshToken" method="GET">
      <button class="btn">User HomePage</button>
    </form>
  </div>
</body>


</html>
