<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Page | AudioAdvisor</title>
</head>

<body>
    <div>
        <form action="/index" method="GET">
          <button>Home Page</button>
        </form>
    </div>
    <div>
        <form action="/api/refreshToken" method="GET">
          <button>User HomePage</button>
        </form>
    </div>
    <label>You got <%=questionsRight%>/10 questions correct.</label>
    <label>Here are all the songs from this game: <%= questionsArray %></label>
</body>

</html>
