<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Addition Page</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div>
    <h1>Time to add a song!</h1>
    <form action="/index" method="GET">
      <button class="btn2">Home Page</button>
    </form>
  </div>
  <label>Option 1</label>
  <div>
    <form action="/api/usersPlaylists" method="GET">
      <label>Grab your Spotify Playlists</label>
      <button class="btn2">Grab your Spotify Playlists!</button>
    </form>
  </div>
  <label>Option 2</label>
  <div>
    <form method="POST" action="/api/Playlists">
      <label for="id">Playlist ID</label>
      <input class="btn2" type="text" name="id" id="id" placeholder="id">
      <button class="btn2">Request</button>
    </form>
  </div>
  <label>Option 3</label>
  <div>
    <form method="POST" action="/api/getSong">
      <label for="songTitle">Song Title</label>
      <input class="btn2" type="text" name="songTitle" id="songTitle" placeholder="songTitle">
      <label for="artist"> Artist's Name</label>
      <input class="btn2" type="text" name="artist" id="artist" placeholder="artist">
      <button class="btn2">Request</button>
    </form>
  </div>
</body>

</html>