<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Addition Page</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div>
    <h1 class="header1">Time to add a song!</h1>
    <form action="/index" method="GET">
      <button class="btn">Home Page</button>
    </form>
  </div>
  <label class="label">Option 1</label>
  <div>
    <form action="/api/usersPlaylists" method="GET">
      <label class="label">Grab your Spotify Playlists</label>
      <button class="add-song-btn">Grab your Spotify Playlists!</button>
    </form>
    <link rel="stylesheet" href="/css/style.css" />
  </div>
  <label class="label">Option 2</label>
  <div>
    <form method="POST" action="/api/Playlists">
      <label class="label" for="id">Playlist ID</label>
      <input type="text" name="id" id="id" placeholder="id">
      <button class="add-song-btn">Request</button>
    </form>
  </div>
  <label class="label">Option 3</label>
  <div>
    <form method="POST" action="/api/getSong">
      <label class="label" for="songTitle">Song Title</label>
      <input type="text" name="songTitle" id="songTitle" placeholder="songTitle">
      <div>
        <label class="label" for="artist"> Artist's Name</label>
        <input type="text" name="artist" id="artist" placeholder="artist">
        <button class="add-song-btn">Request</button>
      </div>
    </form>
  </div>
</body>

</html>