<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="3600">
  <title>
    <%= user.email.split('@')[0] %> | Home Page
  </title>
</head>

<body>
  <span>
    <h1>
      Welcome to your home page <%= user.email.split('@')[0] %>!
    </h1>
  </span>
  <form action="/api/test" method="GET">
    <button>Get All Songs on AudioAdvisor</button>
  </form>
  <div>

    <div>
      <form action="/api/updateEmail" method="POST">
        Update your email here
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <!-- <form action="" method="get"></form> -->
        <button>Update Email</button>
      </form>
    </div>

    <div>
      <form action="/api/getDatabaseSongs" method="GET">
        <button>Open AudioAdvisor Game</button>
      </form>
    </div>
</body>

</html>