<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="3600">
  <title>
    <%= user.email.split('@')[0] %> | Home Page
  </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <span>
    <h1>
      Welcome to your home page <%= user.email.split('@')[0] %>!
    </h1>
  </span>
  <form action="/logout" method="POST">
    <button class="btn">Logout</button>
  </form>
  <h1>You've won <%= gamesWon %> games.</h1>
  <form action="/api/test" method="GET">
    <button class="btn">Get All Songs on AudioAdvisor</button>
  </form>
  <div>

    <div>
      <form action="/api/updateEmail" method="POST">
        Update your email here
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <button class="btn">Update Email</button>
      </form>
    </div>
    <h1>You're favorite genre is <%= user.favoriteGenre %> right?</h1>
    <div>
      <form action="/setFavoriteGenre" method="POST">
        You can change your favorite genre here
        <label for="favoriteGenre"></label>
        <input type="favoriteGenre" name="favoriteGenre" id="favoriteGenre" placeholder="favoriteGenre" required>
        <button class="btn">Update genre</button>
      </form>
    </div>
    <div>
      <form action="/api/getDatabaseSongs" method="GET">
        <button class="btn">Open AudioAdvisor Game</button>
      </form>
    </div>

    <div>
      <form action="/recommendationPage" method="Post">
        <button class="btn">Recommendation Page</button>
      </form>
    </div>

    <div>
      <form action="/index" method="GET">
        <button class="btn">Home Page</button>
      </form>
    </div>
</body>

</html>